.kanji {
    &-block {
        padding: .125rem .5rem;
        border-radius: 0.25em;
        color: white;
        background: var(--primary);
    }
    &-container {
        position: relative;
        display: inline-block;
        --primary: #c61fc6;
        --tt: #c1c1c1;
    }
    &-hover {
        position: absolute;
        bottom: 0;
        padding: 1rem;
        padding-bottom: 25%;
        margin-bottom: 75%;
        left: 0%;
        right: 0%;
        &__inner {
            position: relative;
            inset: 0;
            border-radius: 0.25em;
            background: var(--tt);
            color: white;
            text-align: left;
            padding: 0.5em;
            width: 20ch;
            transform: translateX(-50%);
            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                width: 0; 
                height: 0; 
                margin: auto;
                border-left: .5em solid transparent;
                border-right: .5em solid transparent;
                border-top: .5em solid var(--tt);
                transition: 5s ease-out all;
            }
        }
    }
}