.question {
    padding: 1em;
    &-inner {
        padding: 2rem 0;
        border: solid 2px black;
        border-radius: 2em;
    }
    &-defs {
        margin: 0 auto;
        max-width: 60ch;
    }
    &-main {
        font-size: 1.25rem;
    }
    &-input {
        &.--failure {
            background: red;
            color: white;
            &::placeholder {
                color: white;
            }
        }
        &.--success {
            background: green;
            color: white;
            &::placeholder {
                color: white;
            }
        }
    }
}